$regular = 'RobotoRegular'
$medium  = 'RobotoMedium'
$bold    = 'RobotoBold'
$light   = 'RobotoLight'
$color   = #FDB913
$Tcenter = translate(-50% , -50%)
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
transform()
	-webkit-transform $Tcenter
    -moz-transform $Tcenter
    -ms-transform $Tcenter
    -o-transform $Tcenter
    transform $Tcenter
scale()
	-webkit-transform scale(1)
    -moz-transform scale(1)
    -ms-transform scale(1)
    -o-transform scale(1)
    transform scale(1)
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
.js-flex
	flexCenter()
	flex-wrap wrap
.js-relative
	position relative
.js-absolute
	position absolute
.js-width
	width 100%
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular
	color #FFFFFF
	background-color #F8F8F8
img
	width 100%
.js-header
	position fixed
	top 0
	width 100%
	background-color #000000
	z-index 20
	padding 15px 25px
	transitionOpacity()
	flexCenter()
	img
		width 100%
		max-width 150px
	&.js-header--configurator
		border-bottom 1px solid #FFFFFF
		.js-header__bgcolor
			flexCenter()
			justify-content flex-end
			.js-header__bgcolor--bar
				height 100%
				width 100%
				max-width 120px
				&:nth-child(1)
					background-color rgba(240, 171, 0, 0.4)
				&:nth-child(2)
					background-color rgba(240, 171, 0, 0.7)
				&:nth-child(3)
					background-color rgba(240, 171, 0, 1)
.js-fondo-datos
	absolute()
	background url(../img/fondo/fondo-datos.jpg) no-repeat center center
	background-size cover
.js-fondo__imagen
	absolute()
	background url(../img/fondo/fondo-imagen.jpg) no-repeat center center
	background-size cover
	&.js-pt
		background url(../img/fondo/fondo-imagen-pt.jpg) no-repeat center center
		background-size cover
	&:AFTER
		content ''
		background-color #000000
		opacity .2
		absolute()
.js-section
	position relative
	padding 40px 20px
.js-bar
	height 100vh
	width 25%
	z-index 1
	position absolute
	right 0
	top 0
	justify-content flex-end
	flexCenter()
	.js-bar__children
		height 100%
		width 100%
		max-width 120px
		&:nth-child(1)
			background-color rgba(240, 171, 0, 0.4)
		&:nth-child(2)
			background-color rgba(240, 171, 0, 0.7)
		&:nth-child(3)
			background-color rgba(240, 171, 0, 1)
.js-title
	z-index: 5
	color #FFFFFF
	width 100%
	max-width 685px
	margin-left 75px
	h1
		font-size 60px
		font-family $medium
		line-height 60px
		margin 0 0 10px 0
		strong
			font-family $bold
	p
		font-size 26px
		line-height 34px
		margin 0
	span
		font-size 22px
		display block
		line-height 26px
	button
		background-color $color !important
		color #FFFFFF
		height 30px
		line-height 20px
		text-transform initial
		font-family $medium
		width 100%
		max-width 100px
		margin-top 20px
.js-idioma
	flexCenter()
	width 100%
	justify-content flex-end
	.btn-group
		width 100% !important
		max-width 120px;
		button
			background-color transparent !important
			color #FFFFFF !important
			border none
			box-shadow none !important
			outline 0 !important
.js-container
	transitionMaxWidth()
	width 100%
	max-width 1150px
	height 100%
	margin auto
.js-card__flex
	flexStart()
	width 100%
.js-card
	width 100%
	max-width 180px
	margin 20px auto
	.js-card-imagen
		position relative
		width 100%
		max-width 180px
		height 180px
		.js-card-flip
			flipCard()
			width 100%
			height 100%
			&.js-card-flip__front
				flipCardFront()
				flexCenter()
				justify-content center
				border 1px solid $color
				img
					width initial
			&.js-card-flip__back
				flipCardBack()
				flexCenter()
				background-color $color
				flex-direction column
				align-items start
				justify-content flex-end
				padding 20px
				h2
					color #000000
					margin 5px 0
					font-size 36px
					font-family $medium
				button
					box-shadow none
					margin-top 20px
					text-transform initial
					font-family $bold
					height 30px
					line-height 20px		
		&:hover
			.js-card-flip__front
				flipCardFrontHover()
			.js-card-flip__back
				flipCardBackHover()
		&.js-card-imagen__static
			.js-card-flip__front
				flipCardFrontHover()
			.js-card-flip__back
				flipCardBackHover()
				button
					transitionBgColor()
					background-color #000000
					color $color
					border-radius 5px
.js-question--title
	font-size 18px
	margin-bottom 20px
.js-question--number
	font-size 32px
	line-height 34px
	color $color
	h2
		color #000000
		margin 3px 0
	.js-partner
		flexStart()
		p
			width 100%
			margin 0
			font-size 24px
			font-family $bold
			color #000000
			span
				color #000000
				font-family $light
	.js-help
		flexCenter()
		justify-content flex-end
		p
			margin 0
			margin-right 10px
			color #000000
			font-family $medium
			font-size 18px
		a
			flexCenter()
			background-color #008FD3
			justify-content center
			text-decoration none !important
			i
				color #FFFFFF
				font-size 18px
				vertical-align middle
.js-filter
	margin-top 10px
	p
		margin 0
		color #000000
	.breadcrumb
		margin-bottom 0
		a
			text-decoration none !important
.js-cards
	position relative
	width 100%
.js-card--large__content
	flexCenter()
	justify-content center
	border 1px solid $color
	border-radius 10px
	padding 5px 10px
	text-align center
	width 100%
	max-width 225px
	margin 5px
	.js-card--large__content-imagen
		flexCenter()
		justify-content center
		height 120px
		img
			width initial !important
	.js-card--large__content-text
		height 150px
		p
			font-size 17px
			text-align left
			line-height 21px
			strong
				color $color
				font-family $medium
	.js-card--large__content-tipo
		width 100%
		max-width 50px
		img
			width 100%
	.js-card--large__content-name
		margin 0 10px
		text-align left
		small
			font-size 16px
			line-height 18px
			display inline-block
			color #000000
.js-card--large__button
	padding 10px 0
	button
		border 1px solid $color
		background-color transparent
		color #FFFFFF
		text-transform initial
		width 100%
		border-radius 0
		font-family $medium
		font-size 18px
		&:hover
			transitionBgColor()
			background-color $color
.js-card--large__select
	flexCenter()
	transitionBgColor()
	height 36px
	justify-content center
	border 1px solid $color
	margin-top 10px
	#textOperar
		font-family $medium
		font-size 16px
		width 100%
		max-width 115px
		text-align center
	.mdl-button--icon
		i
			color #FFFFFF
	.js-select
		&.selected
			background-color $color
		.bootstrap-select
			width 205px !important
			background-color transparent
			border 1px solid $color
			color #FFFFFF
			outline none !important
			.dropdown-toggle
				background-color transparent !important
				color #FFFFFF
				border none
				outline 0 !important
				box-shadow none !important
				color #000000
				font-family $medium
				.filter-option
					font-size 16px
					text-align center
			.dropdown-menu
				background-color #FFFFFF !important
				margin 0
				padding 0
				border none
				margin-top 1px
				li
					border 1px solid $color
					margin 5px 0
					a
						transitionBgColor()
						text-align center
						color #000000
						font-size 15px
						outline none
						font-family $medium
						background-color transparent
						height 34px
						line-height 30px
						&:hover
							background-color $color
	&.js-selected
		background-color $color
	p
		color #000000
		font-family $medium
		margin 0
		font-size 16px
.js-card__servicio
	width 100%
	max-width 200px
	margin 8px
	text-align center
	background-color #FFFFFF
	border-radius 10px
	box-shadow 5px 5px 10px rgba(0,0,0,0.2)
	padding 15px
	.js-card__servicio--contenido
		img
			max-width 100px
		p
			flexEnd()
			justify-content center
			height 32px
			color #000000
			line-height 16px
			font-family $bold
	a
	button
		background-color $color !important
		text-transform initial
		font-family $medium
		height 28px
		line-height 28px
		text-decoration none
.js-window
	absolute()
	flexCenter()
	transitionOpacity()
	width 100%
	height 100vh
	z-index 5
.js-input
	margin 5px 0
	padding 0 10px
	width 100%
	max-width 260px
	.form-control
		border-radius 5px
		height 42px
		padding 6px 10px
		font-size 15px
		font-family $regular
		box-shadow none !important
		border-color transparent !important
		&.js-input-color
			background-color $color
			font-family $bold
			color #FFFFFF
	&.js-select
		.bootstrap-select
			width 100% !important
			background-color transparent
			color #757575
			outline none !important
			button
				height 42px
				font-size 16px
.js-label
	flexCenter()
	.js-input-label
		width 100%
		max-width 120px
.mdl-radio__inner-circle
	background #4983B6
.mdl-checkbox
	&.is-checked 
		.mdl-checkbox__tick-outline
			background #4983B6
.mdl-checkbox__ripple-container 
	&.mdl-ripple
		background #4983B6
.mdl-radio__ripple-container 
	.mdl-ripple
		background #4983B6
.mdl-checkbox
	&.is-checked 
		.mdl-checkbox__box-outline
			border 2px solid #4983B6
.mdl-radio
	&.is-checked 
		.mdl-radio__outer-circle
			border 2px solid #4983B6
.js-checkbox
	.mdl-checkbox
		max-width 250px
	.mdl-checkbox__label
		font-size 15px
		line-height 18px
		font-weight 100
	.mdl-checkbox__box-outline
		border 2px solid #FFFFFF
.opacity-done
	relative()
	opacity 0
	z-index -5
	&.fadeInRight
	&.fadeInLeft
		z-index 1
.js-done
	opacity 0
	z-index -5
	&.fadeInRight
	&.fadeInLeft
		z-index 1
.js-button-select
	transitionBgColor()
	&.js-selected
	&:hover
		background-color $color !important
.js-carousel
	flexStart()
	justify-content flex-start
	position relative
	width 100%
	flex-wrap wrap
	.table-responsive
		width 100%
		margin 10px
		max-width 600px
		border none
		table
			margin 0
.js-button
	background-color $color
	color #FFFFFF
	text-transform initial
	height 30px
	line-height 20px
	font-family $medium
	max-width 120px
	width 100%
	&:hover
		background-color $color
	&.js-button--back
		flexCenter()
		color #FFFFFF
		i
			font-size 16px
			color #FFFFFF
			margin-right 10px
.js-return
	background-color $color !important
	border-radius 10px
	.mdl-button__ripple-container
		border-radius 10px
	i
		color #FFFFFF
		font-size 40px
.js-flecha
	max-width 50px
	cursor pointer
.js-button--form
	flexEnd()
	height 67px
	a
		background-color $color !important
		text-transform initial
		color #FFFFFF
		height 42px
		font-family $medium
		border-radius 5px
		text-decoration none !important
		padding 0 8px
		line-height 42px
		width 100%
.js-card-login
	flexCenter()
	background-color #000000
	border 1px solid #FFFFFF
	padding 15px
	p
		color #FFFFFF
.js-login
	color #FFFFFF
	margin-bottom 15px
	h2
		font-size 16px
		font-family $medium
		line-height 18px
		margin 0
	img
		width 100%
		max-width 65px
.js-user
	flexCenter()
	justify-content flex-end
	width 100%
	text-align right
	p
		margin 0
		padding 0 10px
		margin-right 10px
		border-right 1px solid #FFFFFF
		line-height 18px
	a
		font-family $medium
		cursor pointer
.js-button--flat
	position fixed
	bottom 10px
	right 10px
	display none
	a
		flexCenter()
		justify-content center
		text-decoration none !important
		background-color #008FD3 !important
		i
			color #FFFFFF
.breadcrumb
	&>li
		&+li
			&:before
				content ">"
				color #000000
				font-family $bold
/*TABLE*/
table
	&>tbody
		&>tr
			&>td
				color #000000
				padding 5px 10px !important
				line-height 16px !important
				vertical-align middle !important
	&>thead
		&>tr
			&>th
				color #000000
				font-size 18px
				font-family $medium
/*MODAL*/
.modal
	&.fade
		.modal-dialog
			position absolute
			top 50%
			left 50%
			transform()
			&.modal-sm
				width 100%
				max-width 350px
				.js-input
					max-width 100%
		&.in
			.modal-dialog
				scale()
				transform()
				opacity 1
				margin 0
				padding 10px
				.mdl-card__supporting-text
					overflow inherit
					.dropdown-menu 
						&.open
							max-height 215px !important
							padding 0
						.dropdown-menu 
							&.inner
								max-height 215px !important
/*MATERIAL DESIGN LITE*/
.mdl-card__supporting-text
	width 100%
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
/*FAB-ANIMATION*/
.js-button--animation
	-webkit-animation ripple .5s linear infinite
	animation ripple .5s linear infinite
@-webkit-keyframes ripple
	0%
		-webkit-box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
		box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
	100%
		-webkit-box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)	
		box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)
@keyframes ripple
	0%
		-webkit-box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
		box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1)
	100%
		-webkit-box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)	
		box-shadow 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0)
@media ( max-width: 1200px )
	.js-title
		max-width 550px
		margin-left 30px
		h1
			font-size 50px
			line-height 50px
		p
			font-size 24px
			line-height 28px
@media ( max-width: 1000px )
	.js-flex
	.js-carousel
		justify-content center
@media ( max-width: 768px )
	.js-title
		max-width 420px
		h1
			font-size 42px
			line-height 44px
		p
			font-size 20px
			line-height 24px
			
@media ( max-width: 600px )
	.js-container
		align-items center
	.js-title
		max-width 240px
		margin-left 20px
		h1
			font-size 32px
			line-height 34px
		p
			font-size 16px
			line-height 20px
	.js-question--title
		margin-bottom 5px
	.js-question--number
		text-align center
		font-size 32px
		line-height 34px
		margin 0
		h2
			font-size 24px
			line-height 26px
	.owl-theme 
		.owl-nav
			.owl-prev
				margin-left 0
			.owl-next
				margin-right 0
	.js-input
		max-width 100%
	.js-header
		img
			max-width 110px
	.js-question--number		
		.js-help
			display none
	.js-button--flat
		display block
@media ( max-height: 768px )
	body
		overflow-y scroll		